.container-box{
    display: flex;
    justify-content: center;
    align-items: center;
}


.perfil-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
    width: 30%;
    height: 100vh;
    margin: 20px 0;
    gap: 50px;
}
.perfil-con-box{
    display: flex;
    flex-direction: column;
}
.perfil-container .perfil-con-box:first-child{
    align-items: center;
}

.perfil-con-box input{
    background-color: var(--fondo);
    border: none;
    border-bottom: 1px solid var(--botones-color);
    color: var(--texto);
    font-size: 1.3rem;
}
.perfil-con-box input:focus{
    outline: none;
}

.perfil-con-box label{
    color: lightgray;
    font-size: 0.9rem;
}

.perfil-input button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.perfil-input{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.perfil-con-box button img{
    filter: invert(100%);
}

.perfil-container .profile-icon{
    width: 70%;
    margin: 0;
}